<!-- wp:paragraph -->
<p>
	On <time datetime="{{ Context.When | date: '%F %k:%M:%SZ' }}">{{ Context.When | tokst | date: "%B %e" }}</time>, 
	{{ Context.Author.PersonName }} posted
	
	{% assign image_count = Context.Source.Medias | where: "IsVideo", false | size %}
	{% assign video_count = Context.Source.Medias | where: "IsVideo", true | size %}
	{% if image_count == 1 %}an image {% endif %}
	{% if image_count > 1 %}{{ image_count }} images {% endif %}
	{% if image_count > 0 and video_count > 0 %} and {% endif %}
	{% if video_count == 1 %}a video {% endif %}
	{% if video_count > 1 %}{{ video_count }} videos {% endif %}
	
	on {{ Context.Author.Pronoun.DependentPossessive }} {{ Context.Author.Description }}.
	
	<!-- Tagged in the media is Taehwan, Hani, and @allways. -->
	{% assign tags = Context.TaggedInMedia %}
	{% if tags | size == 1 %}
		Tagged in the media is 
		<a href="https://instagram.com/{{ tags[0].Username }}">{{ tags[0].PersonName }}</a>.
	{% elsif tags | size == 2 %}
		Tagged in the media are 
		<a href="https://instagram.com/{{ tags[0].Username }}">{{ tags[0].PersonName }}</a>
		and
		<a href="https://instagram.com/{{ tags[1].Username }}">{{ tags[1].PersonName }}</a>.
	{% elsif tags | size > 2 %}
		Tagged in the media are 
		{% assign i_end = tags | size -1 %}
		{% for i in (0..i_end) %}
			<a href="https://instagram.com/{{ tags[i].Username }}">{{ tags[i].PersonName }}</a>, 
		{% endfor %}
		and
		<a href="https://instagram.com/{{ tags[tags | size - 1].Username }}">{{ tags[tags | size - 1].PersonName }}</a>.
	{% endif %}
		
	<!-- LE is tagged in the caption. -->
	{% assign tags = Context.TaggedInCaption %}
	{% if tags | size == 1 %}
		<a href="https://instagram.com/{{ tags[0].Username }}">{{ tags[0].PersonName }}</a>
		is tagged in the caption.
	{% elsif tags | size == 2 %}
		<a href="https://instagram.com/{{ tags[0].Username }}">{{ tags[0].PersonName }}</a>
		and
		<a href="https://instagram.com/{{ tags[1].Username }}">{{ tags[1].PersonName }}</a>
		are tagged in the caption.
	{% elsif tags | size > 2 %}
		{% assign i_end = tags | size - 2 %}
		{% for i in (0..i_end) %}
			<a href="https://instagram.com/{{ tags[i].Username }}">{{ tags[i].PersonName }}</a>, 
		{% endfor %}
		and
		<a href="https://instagram.com/{{ tags[tags | size - 1].Username }}">{{ tags[tags | size - 1].PersonName }}</a>
		are tagged in the caption.
	{% endif %}
	
	Visit the post &lt;<a href="{{ Context.Source.SourceUrl | raw }}">here</a>&gt;.
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>
	<!-- The pictures are of a dog, a closeup of a dog, and surfing. -->
	{% assign pictures = Context.PictureDescriptions %}
	{% if pictures | size == 1 %}
		The picture is of {{ pictures[0].Description }}.
	{% elsif pictures | size == 2 %}
		The pictures are of {{ pictures[0].Description }} and of {{ pictures[1].Description }}.
	{% elsif pictures | size > 2 %}
		The pictures are of 
		{% assign i_end = pictures | size - 2 %}{% for i in (0..i_end) %}{{ pictures[i].Description }}, {% endfor %}
		and {{ pictures[i_end + 1].Description }}.
	{% endif %}

	<!-- The video is of surfing. -->
	{% assign videos = Context.VideoDescriptions %}
	{% if videos | size == 1 %}
		The video is of {{ videos[0].Description }}.
	{% elsif videos | size == 2 %}
		The videos are of {{ videos[0].Description }} and of {{ videos[1].Description }}.
	{% elsif videos | size > 2 %}
		The videos are of 
		{% assign i_end = videos | size - 2 %}{% for i in (0..i_end) %}{{ videos[i].Description }}, {% endfor %}
		and {{ videos[i_end + 1].Description }}.
	{% endif %}
</p>
<!-- /wp:paragraph -->

<!-- wp:gallery {"ids":[#IMAGE_IDS#]} -->
<figure class="wp-block-gallery columns-3 is-cropped"><ul class="blocks-gallery-grid">
	{% for media in Context.Source.Medias %}
		<li class="blocks-gallery-item"><figure><img src="{{ media.DisplayUrl | raw }}" alt="" data-id="{{ media.Id }}" data-link="https://leggonews.com?attachment_id={{ media.Id }}" class="wp-image-{{ media.Id }} {% if media.IsVideo %}video{% endif %}"/></figure></li>
	{% endfor %}
</ul></figure>
<!-- /wp:gallery -->

{% if Context.Source.Caption | size > 0 %}

	<!-- wp:paragraph -->
	<p>The caption is:</p>
	<!-- /wp:paragraph -->
		
	<!-- wp:quote -->
	<blockquote class="wp-block-quote"><p>{{ Context.Source.Caption }}</p></blockquote>
	<!-- /wp:quote -->

	{% if Context.IsCaptionKorean %}
		<!-- wp:quote -->
		<blockquote class="wp-block-quote"><p>(translated) {{ Context.TranslatedCaption }}</p></blockquote>
		<!-- /wp:quote -->
	{% endif %}

{% endif %}

<!-- wp:paragraph -->
<p>
	Be sure to show your support to {{ Context.Author.PersonName }} and the others.
	
	{% if Context.PastEvents | size > 0 %}
		Recently, there was {{ Context.PastEvents[0].Title }} on {{ Context.PastEvents[0].StartTime | tokst | date: "%B %e" }}.
	{% endif %}
	
	{% if Context.FutureEvents | size > 0 %}
		Also look forward to {{ Context.FutureEvents[0].Title }} on {{ Context.FutureEvents[0].StartTime | tokst | date: "%B %e" }}.  {{ Context.FutureEvents[0].Description }}
	{% endif %}
	
	See <a href="https://leggonews.com/schedule/">our schedule</a> for all official activity.
</p>
<!-- /wp:paragraph -->

